<!--<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Find Bloodgroup details
    </a>
  
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/">ALL</a></li>
      <li><a class="dropdown-item" href="/A">A+ve</a></li>
      <li><a class="dropdown-item" href="/B">B+ve</a></li>
      <li><a class="dropdown-item" href="/AB">AB+ve</a></li>
      <li><a class="dropdown-item" href="/O">O+ve</a></li>
      
    </ul>
  </div>-->


  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Find Bloodgroup details
    </a>
  
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/">ALL</a></li>
      <li><a class="dropdown-item" href="/choose/A+ve">A+ve</a></li>
      <li><a class="dropdown-item" href="/choose/B+ve">B+ve</a></li>
      <li><a class="dropdown-item" href="/choose/AB+ve">AB+ve</a></li>
      <li><a class="dropdown-item" href="/choose/O+ve">O+ve</a></li>
      
    </ul>
  </div>